
@media (min-width: 576px) {
    .post {
        width: calc(50% - 15px);
    }
}

@media (min-width: 768px) {
    .post {
        width: calc(25% - 12.5px);
    }
}

@media (min-width: 992px) {
   .post {
        width: calc(20% - 12.5px);
    }
}
@media (max-width: 575px) {
   .post {
        width: 100%;
        margin-left: 0;
    }
}

@media only screen and (max-width: 616px) {
    .right,
    .left {
        width: 95%;
    }
    .right {
        padding-left: 10px;
    }
}

@media only screen and (max-width: 766px) {
    .search button {
        margin-top: 5px;
        width: 185px;
    }
}



@media only screen and (max-width: 560px) {
    header ul{
        width: 0px;
        height: 100%;
        position: fixed;
        right: 0;
        display: none;
        top: 0;
        z-index: 1;
        background-color: rgba(0,0,0,0.7);
    }    
    header ul li{
        clear: both;
        display: block;
        width: 100%;
    }
    .bars{
        color: #fff;
        float: right;
        display: block;
        padding: 11px 30px;
        cursor: pointer;
    }
    .close-colapse{
        top: 10px;
        right: 30px;
        display: block;
        position: absolute;
        color: #fff;
         cursor: pointer;
    }
}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
    .parallax {
        width: 100%;
        height: 250px;
    }
    .parallax img {
        height: 100%;
    }
    .image-post a img {
        width: 100%;
        height: 100%;
    }
    .right,
    .left {
        width: 100%;
    }
    .right,
    .left {
        width: 95%;
    }
    .right {
        padding-left: 10px;
    }
    .widget ul {
        margin-bottom: 35px;
    }
}


/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {
    .breadcrumb {
        height: 30px;
    }
   
    .parallax {
        width: 100%;
        height: 170px;
    }
    .parallax img {
        height: 100%;
    }
/*    .image-post a img {
        width: 100%;
        height: 200px;
    }*/
}