.section-header .content a,
a {
    color: white;
    text-decoration: none;
}

.navbar .navbar-nav>li>i {
    cursor: pointer;
    color: white;
    padding: 10px 15px;
    margin: 15px 3px;
    line-height: 18px;
}

#custom-search-input {
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input {
    border: 0;
    height: 45px;
    box-shadow: none;
}

#custom-search-input button {
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover {
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .fa-search {
    font-size: 23px;
}

.infor-post {
    width: 100%;
    height: auto;
}

.image-post {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.image-post:hover .author-post {
    height: 80px;
    transition: 0.3s ease-in all;
    -webkit-transition: 0.3s ease-in all;
}

.image-post a img {
    width: 100%;
}

.section .parallax {
    height: 100%;
}

.author-post {
    width: 100%;
    height: 0px;
    transition: 0.3s ease-in all;
    -webkit-transition: 0.3s ease-in all;
    position: absolute;
    bottom: 0px;
    background-color: #f17f7f;
}

.author-post ul {
    color: white;
    list-style: none;
    margin-top: 10px;
    padding: 0px;
}

.author-post ul li {
    float: left;
    padding-right: 15px;
    height: auto;
    padding-top: 5px;
    line-height: 20px;
    padding-left: 5px;
}

ul li a,
ul li a:hover {
    color: white;
}

.space-bottom {
    margin-bottom: 30px;
}

.post-title {
    color: #000;
    line-height: 50px;
    padding-top: 15px;
    font-size: 20px;
    text-decoration: none;
}

.mouse-scroll {
    background: url('../img/scroll-down.gif') no-repeat center center;
    background-size: 40px;
    width: 100%;
    height: 50px;
}

#scrolltop {
    width: 40px;
    height: 40px;
    position: fixed;
    background-color: #f17f7f;
    color: white;
    text-align: center;
    line-height: 40px;
    bottom: 30px;
    right: 20px;
    cursor: pointer;
}

.breadcrumb {
    background-color: transparent;
}

.breadcrumb>ul {
    list-style: none;
    border-radius: none;
}

.breadcrumb>ul>li {
    display: inline;
}

.widget {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: 30px;
}

.widget-title:after {
    content: "";
    height: 3px;
    left: 0;
    width: 40px;
    position: absolute;
    bottom: -13px;
    background-color: #f17f7f;
}

.widget .widget-title {
    font-size: 24px;
    margin-bottom: 35px;
    margin-top: 0;
    padding: 0 15px 0 0;
    position: relative;
}

.widget-title:before {
    background: rgba(0, 0, 0, 0.1);
    content: "";
    height: 1px;
    left: 50px;
    right: 0;
    position: absolute;
    bottom: -12px;
}

.widget ul {
    list-style: none;
    padding: 0;
}

.widget.widget_categories ul li {
    color: #999;
}

.widget ul li:first-child {
    padding-top: 0;
}

.widget ul li {
    list-style: none;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.15);
    padding: 10px 0;
}

.widget ul li a {
    color: #777;
}

.widget ul li:last-child {
    border-bottom: none;
}

.course-slider {
    width: 100%;
    margin: 30px auto;
}

.raise-title {
    position: absolute;
    z-index: 999;
    bottom: 0px;
    background-color: rgba(220, 220, 220, 0.5);
    width: 100%;
    height: auto;
}

.raise-title>h3 {
    font-size: 18px;
    font-weight: bold;
    text-transform: none;
}

.raise-title>h3>a {
    color: #18407d;
    text-decoration: none;
}

.raise-title>h3>a:hover {
    color: #9c27b0;
}

.slick-slide {
    margin: 0px 20px;
    position: relative;
}

.slick-slide img {
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}

.item {
    height: 550px;
}


/* Navigation */

.post-navigation {
    margin-top: 40px;
    margin-bottom: 40px;
}

.navigation.post-navigation .nav-links {
    padding: 0;
    margin: 0;
}

.navigation.post-navigation .nav-links li {
    list-style: none;
    display: inline-block;
    width: 49%;
    text-align: center;
}

.navigation.post-navigation .nav-links li a {
    color: #333333;
    display: block;
    padding: 15px;
    background: rgba(0, 0, 0, 0.1);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.navigation.post-navigation .nav-links li a:hover {
    background: #333333;
    color: #ffffff;
}

.navigation.post-navigation .nav-links li a span {
    color: #777;
}

.navigation.post-navigation .nav-links li a:hover span {
    color: #ffffff;
}

.navigation.post-navigation .nav-links li.next-post {
    float: right;
}

#map {
    height: 400px;
    width: 100%;
}

.author-content {
    margin-top: 25px;
    color: black;
}

.author-content p,
.blog-content p {
    font-size: 17px;
    overflow: hidden;
}

.main-post-content p {
    font-size: 15px;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 40px;
    z-index: 99;
    right: 10px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }


/* Mobile Queries */

@media (max-width: 767px) {
    .section-header .content h1 {
        font-size: 18px;
    }
    .navbar .navbar-nav>li>i, .navbar-default .navbar-nav>li>i:not(.btn) {
        color: #f17f7f;
        opacity: 0.85;
        filter: alpha(opacity=85);
    }
    .section-header .content h4 {
        font-size: 15px;
    }
    .author-image {
        width: 140px;
        height: 140px;
    }
    #custom-search-input input {
        border: 0;
        height: 20px;
        font-size: 15px;
        box-shadow: none;
    }
    .raise-title>h3 {
        font-size: 10px;
    }
}

@media(max-width:375) {
    .raise-title>h3 {
        font-size: 8px;
    }
}

@media(max-width:320px) {
    .raise-title>h3 {
        font-size: 8px;
    }
}
