@model LeHuuKhoa.Core.Models.Page

@{
    ViewBag.Title = Model.Name;
    ViewBag.MetaDescription = Model.Name;
    ViewBag.MetaKeywords = Model.Name.ToLower();
}
<div class="section section-header">
    <div class="parallax">
        <img src="@Model.BackgroundImage" alt="">
    </div>
</div>
<section class="container">
    <div class="left">
        <div class="breadcrumb">
            <ul>
                <li><a href="/">Trang chủ >></a> </li>
                <li> @Model.Name</li>
            </ul>
        </div>
        <div class="post-list">
            <article class="single-post ">
                <div class="content-post">
                    @Html.Raw(Model.Content)
                </div>
            </article>
        </div>
    </div>
    @{Html.RenderAction("Categories", "Category");}
</section>