@model LeHuuKhoa.Core.Models.Page

@{
    ViewBag.Title = Model.Name;
    ViewBag.MetaDescription = Model.Name;
    ViewBag.MetaKeywords = Model.Name.ToLower();
}
<div class="parallax">
    <img data-src="@Model.BackgroundImage" alt="@Model.Name">

</div>
<div class="container">
    <div class="row box">
        <div class="col-md-9" id="left">
            <ol class="breadcrumb">
                <li><a href="/">Trang chủ</a></li>
                <li class="active">@Model.Name</li>
            </ol>
            @Html.Raw(Model.Content)
            

        </div>
        @{Html.RenderAction("Categories", "Category");}
    </div>
</div>
