@{
    ViewBag.Title = "Liên hệ";
    ViewBag.MetaDescription = "Liên hệ, trang thầy khóa, Lê Hữu Khóa";
    ViewBag.MetaKeywords = "liên hệ, lê hữu khóa";
}
<div class="parallax">
    <img data-src="" alt="">
</div>
<div class="container">
    <div class="row box">
        <div class="col-md-9" id="left">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Library</a></li>
                <li class="active">Data</li>
            </ol>
            <form id="contact" action="" method="post">
                <p style="color: red">Tôi sẽ liên hệ với bạn nhanh nhất có thể (trong vòng 24h)</p>
                <fieldset>
                    <input placeholder="Họ và tên" type="text" tabindex="1" required="" autofocus="">
                </fieldset>
                <fieldset>
                    <input placeholder="Email" type="email" tabindex="2" required="">
                </fieldset>
                <fieldset>
                    <input placeholder="Điện thoại" type="tel" tabindex="3" required="">
                </fieldset>
                <fieldset>
                    <input placeholder="Website của bạn, bắt đầu với http://" type="url" tabindex="4" required="">
                </fieldset>
                <fieldset>
                    <textarea placeholder="Nhập nội dung ..." tabindex="5" required=""></textarea>
                </fieldset>
                <fieldset>
                    <button name="submit" type="submit" id="contact-submit" data-submit="...Đang gửi">Gửi</button>
                </fieldset>
            </form>
        </div>
        @{Html.RenderAction("Categories", "Category");}
    </div>
</diV>
