@model IEnumerable<LeHuuKhoa.Core.Models.PostCategory>
@{
    ViewBag.Title = "Trang Chủ";
}
@section header
{
    <div class="section section-header">
        <div class="parallax">
            <img class="" src="/Content/front/assets/img/ac.png" alt="">
        </div>
    </div>
}
<section class="container">
    @foreach (var category in Model)
    {
        <div class="post">
            <div class="image-post">
                <a href="#"><img class="img-responsive" data-src="@category.ImageUrl" width="300" height="200" alt="@category.Name"></a>
                <div class="post-title-overlay">
                    <a href="#"> @category.Name </a>
                </div>
            </div>
        </div>
    }
</section>