@model LeHuuKhoa.Core.ViewModels.PageViewModel
@if (Model != null)
{
    <div class="parallax">
        <img data-src="@Model.BackgroundImage" alt="@Model.Name">
        <div class="desc-overlay home">
            @Html.Raw(Model.Content)
        </div>
    </div>
}
else
{
    <div class="parallax">
        <img src="@ViewBag.StartPageImage" alt="Trang thầy khóa, Vùng Khả Luận">
        <div class="desc-overlay home">
            <h3>Vùng Khả Luận</h3>
            <p>Bạn chưa cập nhật nội dung. Vui lòng đi tới trang Admin để cập nhật.</p>
        </div>
    </div>
}

