@{
    ViewBag.Title = "Không tìm thấy trang bạn yêu cầu";
}
<section class="container">
    <div style="margin: auto; width: 70%; height: auto; padding: 60px 0px;">
        <img class="img-responsive" data-src="https://assets.prestashop2.com/sites/default/files/styles/blog_750x320/public/wysiwyg/500error_0.jpg?itok=A6kxZZJj" alt="@ViewBag.Title" />
    </div>
</section>
