@{
    ViewBag.Title = "Lỗi";
}
<section class="container">
    <div class="error">
        <h1><i class="fa fa-warning"></i>Opps. Đã ra lỗi!</h1>
        <h3>Vui lòng liên hệ với nhà phát triển!!!</h3>
    </div>
</section>


